<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptlogie.mapper.GatewayMapper" >
  <resultMap id="BaseResultMap" type="com.ptlogie.domain.Gateway" >
    <id column="gatewayId" property="gatewayid" jdbcType="INTEGER" />
    <result column="identifying" property="identifying" jdbcType="VARCHAR" />
    <result column="gateName" property="gatename" jdbcType="VARCHAR" />
    <result column="hostName" property="hostname" jdbcType="VARCHAR" />
    <result column="chain" property="chain" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="period" property="period" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    gatewayId, identifying, gateName, hostName, chain, status, updatetime, content, period
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ptlogie.domain.GatewayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gateway
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gateway
    where gatewayId = #{gatewayid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gateway
    where gatewayId = #{gatewayid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ptlogie.domain.GatewayExample" >
    delete from gateway
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ptlogie.domain.Gateway" >
    insert into gateway (gatewayId, identifying, gateName, 
      hostName, chain, status, 
      updatetime, content, period
      )
    values (#{gatewayid,jdbcType=INTEGER}, #{identifying,jdbcType=VARCHAR}, #{gatename,jdbcType=VARCHAR}, 
      #{hostname,jdbcType=VARCHAR}, #{chain,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{period,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ptlogie.domain.Gateway" >
    insert into gateway
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gatewayid != null" >
        gatewayId,
      </if>
      <if test="identifying != null" >
        identifying,
      </if>
      <if test="gatename != null" >
        gateName,
      </if>
      <if test="hostname != null" >
        hostName,
      </if>
      <if test="chain != null" >
        chain,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="period != null" >
        period,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gatewayid != null" >
        #{gatewayid,jdbcType=INTEGER},
      </if>
      <if test="identifying != null" >
        #{identifying,jdbcType=VARCHAR},
      </if>
      <if test="gatename != null" >
        #{gatename,jdbcType=VARCHAR},
      </if>
      <if test="hostname != null" >
        #{hostname,jdbcType=VARCHAR},
      </if>
      <if test="chain != null" >
        #{chain,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="period != null" >
        #{period,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ptlogie.domain.GatewayExample" resultType="java.lang.Integer" >
    select count(*) from gateway
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gateway
    <set >
      <if test="record.gatewayid != null" >
        gatewayId = #{record.gatewayid,jdbcType=INTEGER},
      </if>
      <if test="record.identifying != null" >
        identifying = #{record.identifying,jdbcType=VARCHAR},
      </if>
      <if test="record.gatename != null" >
        gateName = #{record.gatename,jdbcType=VARCHAR},
      </if>
      <if test="record.hostname != null" >
        hostName = #{record.hostname,jdbcType=VARCHAR},
      </if>
      <if test="record.chain != null" >
        chain = #{record.chain,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.period != null" >
        period = #{record.period,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gateway
    set gatewayId = #{record.gatewayid,jdbcType=INTEGER},
      identifying = #{record.identifying,jdbcType=VARCHAR},
      gateName = #{record.gatename,jdbcType=VARCHAR},
      hostName = #{record.hostname,jdbcType=VARCHAR},
      chain = #{record.chain,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      period = #{record.period,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ptlogie.domain.Gateway" >
    update gateway
    <set >
      <if test="identifying != null" >
        identifying = #{identifying,jdbcType=VARCHAR},
      </if>
      <if test="gatename != null" >
        gateName = #{gatename,jdbcType=VARCHAR},
      </if>
      <if test="hostname != null" >
        hostName = #{hostname,jdbcType=VARCHAR},
      </if>
      <if test="chain != null" >
        chain = #{chain,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=VARCHAR},
      </if>
    </set>
    where gatewayId = #{gatewayid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ptlogie.domain.Gateway" >
    update gateway
    set identifying = #{identifying,jdbcType=VARCHAR},
      gateName = #{gatename,jdbcType=VARCHAR},
      hostName = #{hostname,jdbcType=VARCHAR},
      chain = #{chain,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      period = #{period,jdbcType=VARCHAR}
    where gatewayId = #{gatewayid,jdbcType=INTEGER}
  </update>
</mapper>