<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptlogie.mapper.SceneMapper" >
  <resultMap id="BaseResultMap" type="com.ptlogie.domain.Scene" >
    <id column="sceneId" property="sceneid" jdbcType="INTEGER" />
    <result column="gatewayId" property="gatewayid" jdbcType="INTEGER" />
    <result column="sceneName" property="scenename" jdbcType="VARCHAR" />
    <result column="sceneType" property="scenetype" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sceneId, gatewayId, sceneName, sceneType, location, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ptlogie.domain.SceneExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scene
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from scene
    where sceneId = #{sceneid,jdbcType=INTEGER}
  </select>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from scene
    where sceneId = #{sceneid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ptlogie.domain.SceneExample" >
    delete from scene
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ptlogie.domain.Scene" >
    insert into scene (sceneId, gatewayId, sceneName, 
      sceneType, location, remark
      )
    values (#{sceneid,jdbcType=INTEGER}, #{gatewayid,jdbcType=INTEGER}, #{scenename,jdbcType=VARCHAR}, 
      #{scenetype,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ptlogie.domain.Scene" >
    insert into scene
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sceneid != null" >
        sceneId,
      </if>
      <if test="gatewayid != null" >
        gatewayId,
      </if>
      <if test="scenename != null" >
        sceneName,
      </if>
      <if test="scenetype != null" >
        sceneType,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sceneid != null" >
        #{sceneid,jdbcType=INTEGER},
      </if>
      <if test="gatewayid != null" >
        #{gatewayid,jdbcType=INTEGER},
      </if>
      <if test="scenename != null" >
        #{scenename,jdbcType=VARCHAR},
      </if>
      <if test="scenetype != null" >
        #{scenetype,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ptlogie.domain.SceneExample" resultType="java.lang.Integer" >
    select count(*) from scene
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update scene
    <set >
      <if test="record.sceneid != null" >
        sceneId = #{record.sceneid,jdbcType=INTEGER},
      </if>
      <if test="record.gatewayid != null" >
        gatewayId = #{record.gatewayid,jdbcType=INTEGER},
      </if>
      <if test="record.scenename != null" >
        sceneName = #{record.scenename,jdbcType=VARCHAR},
      </if>
      <if test="record.scenetype != null" >
        sceneType = #{record.scenetype,jdbcType=INTEGER},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update scene
    set sceneId = #{record.sceneid,jdbcType=INTEGER},
      gatewayId = #{record.gatewayid,jdbcType=INTEGER},
      sceneName = #{record.scenename,jdbcType=VARCHAR},
      sceneType = #{record.scenetype,jdbcType=INTEGER},
      location = #{record.location,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ptlogie.domain.Scene" >
    update scene
    <set >
      <if test="gatewayid != null" >
        gatewayId = #{gatewayid,jdbcType=INTEGER},
      </if>
      <if test="scenename != null" >
        sceneName = #{scenename,jdbcType=VARCHAR},
      </if>
      <if test="scenetype != null" >
        sceneType = #{scenetype,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where sceneId = #{sceneid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ptlogie.domain.Scene" >
    update scene
    set gatewayId = #{gatewayid,jdbcType=INTEGER},
      sceneName = #{scenename,jdbcType=VARCHAR},
      sceneType = #{scenetype,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where sceneId = #{sceneid,jdbcType=INTEGER}
  </update>
  
  <!--查不到设备数  -->
   <select id="areaData" resultType="java.util.Map"  >
   select  t8.articleName,t7.sceneId,t7.sceneName,t7.location,t7.errorCount from
 (select articleId,articleName from article)t8 join
 (select t6.sceneId,t6.sceneName,t6.location,t6.errorCount, t5.articleId from 
 (select s.sceneId,s.sceneName,s.location,t1.errorCount from scene s join 
 (select e.sceneId ,e.equipmentId ,e.equipmentName,count(e.sceneId) errorCount from equipment e join error r on e.equipmentId=r.equipmentId group by e.sceneId)t1
 on s.sceneId =t1.sceneId group by t1.sceneId)t6 join (select articleId ,sceneId from scene_article)t5 on t6.sceneId=t5.sceneId)t7 on t8.articleId=t7.articleId
  </select>
   <select id="getDeviceCountBySceneId" resultType="java.lang.Integer"  parameterType="java.lang.Integer">
  		select count(sceneId) from equipment where sceneId= #{id,jdbcType=INTEGER}
  </select>
  
     <select id="findAll" resultType="com.ptlogie.domain.Scene"  >
  		select * from scene 
  </select>
     <select id="findByPage" resultType="java.util.Map"  >
  		select count(t4.sceneId) ct,t3.* from equipment t4 join 
(select t2.gateName,t1.* from gateway t2 right join (select * from scene)t1 on t1.gatewayId=t2.gatewayId)t3 on t4.sceneId=t3.sceneId group by t3.sceneId
  </select>
  
</mapper>